.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-covid-19 {
  margin-top: 0;
  background: #0071E3;
}

.ribbon-covid-19 {
  background: #0071E3;
}

.covid-19-app-copy {
  padding: 12px 0;
  background: #0071E3;
  color: #ffffff;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.covid-19-app-copy a {
  color: #ffffff;
}

/* small */
@media only screen and (max-width: 734px) {
  .covid-19-app-copy {
      padding: 10px 0;
      max-width: 285px;
      margin: 0 auto;
  }

  .edge .main [data-module-template].collection-module [data-unit-id] {
      overflow: auto;
  }
}
